
<body class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">
    <div id="wrapper" class="animsition">
    <div id="page" class="clearfix">
    
    <!-- Hero Background SlideShow -->
    <div id="hero-section" data-number="3" data-image-1="/assets/img/slider/1.jpg"  data-effect="fade">
        <div class="hero-content">
            <div class="hero-title scroll" data-min="28px" data-max="80px">
                <h1>ONE COMPNAY</h1>
                <h1>THREE DIVISONS</h1>
                <h1>INFINITE POTENTIAL</h1>
            </div>
    
            <div class="hero-text">
                <p class="font-weight-600 letter-spacing-1px"> THINK SMART , BUILD<span class="text-accent-color"> SMARTER </span></p>
            </div>
    
            <a class="arrow-2 bounce scroll-target" href="#services-section"><span class="fa fa-angle-down"></span></a><!-- change href value to ID of section you want to scroll down -->
        </div><!-- /.hero-content -->
    </div>
    
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
    
                        <!-- DIVISION -->
                        <section id="divisions-section" class="wprt-section divisions">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="60" data-smobi="60"></div>
    
                                        <div class="wprt-content-box style-1">
                                            <div class="wprt-icon-box icon-effect-2 icon-left">
                                                <div class="icon-wrap">
                                                    <span class="dd-icon icon-derrick-with-box-1"></span>
                                                </div>
                                                <div class="content-wrap">
                                                    <h3 class="dd-title text-white font-size-19"><a href="#">BRIDGE DIVISION</a></h3>
                                                    <div class="dd-link"><a href="#">READ MORE</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-4">
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    
                                        <div class="wprt-content-box style-1">
                                            <div class="wprt-icon-box icon-effect-2 icon-left">
                                                <div class="icon-wrap">
                                                    <span class="dd-icon icon-garden-fence"></span>
                                                </div>
                                                <div class="content-wrap">
                                                    <h3 class="dd-title text-white font-size-19"><a href="#">RAILROAD DIVISION</a></h3>
                                                    <div class="dd-link"><a href="#">READ MORE</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-4">
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    
                                        <div class="wprt-content-box style-1">
                                            <div class="wprt-icon-box icon-effect-2 icon-left">
                                                <div class="icon-wrap">
                                                    <span class="dd-icon icon-crane"></span>
                                                </div>
                                                <div class="content-wrap">
                                                    <h3 class="dd-title text-white font-size-19"><a href="#">INDUSTRIAL DIVISION</a></h3>
                                                    <div class="dd-link"><a href="#">READ MORE</a></div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-4 -->
                                </div>
                            </div>
                        </section>
    
                        <!-- SERVICES -->
                        <section id="services-section" class="wprt-section services-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                        <h2 class="text-center margin-bottom-10">HOW WE BUILD</h2>
                                        <div class="wprt-lines style-2 custom-1">
                                            <div class="line-1"></div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="32" data-mobi="32" data-smobi="32"></div>
                                    </div><!-- /.col-md-12 -->
                                            
                                    <div class="col-md-6">
                                        <div class="wprt-image-box left clearfix">
                                            <div class="image-wrap">
                                                <img src="assets/img/services/7.jpg" alt="image" />
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Construction Manager</a></h3>
                                                <p>Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</p>
                                                <div class="dd-link"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="30" data-mobi="20" data-smobi="20"></div>
    
                                        <div class="wprt-image-box left clearfix">
                                            <div class="image-wrap">
                                                <img src="assets/img/services/9.jpg" alt="image" />
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Safety is Key</a></h3>
                                                <p>Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</p>
                                                <div class="dd-link"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="20"></div>
                                    </div><!-- /.col-md-6 -->
    
                                    <div class="col-md-6">
                                        <div class="wprt-image-box left clearfix">
                                            <div class="image-wrap">
                                                <img src="assets/img/services/8.jpg" alt="image" />
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Design bind Build</a></h3>
                                                <p>Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</p>
                                                <div class="dd-link"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="30" data-mobi="20" data-smobi="20"></div>
    
                                        <div class="wprt-image-box left clearfix">
                                            <div class="image-wrap">
                                                <img src="assets/img/services/10.jpg" alt="image" />
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Sustainable Construction</a></h3>
                                                <p>Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</p>
                                                <div class="dd-link"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="20"></div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
    
                        <!-- WORKS -->
                        <section class="wprt-section works parallax">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
    
                                        <h2 class="text-center text-white margin-bottom-10">FEATURED PROJECTS</h2>
                                        <div class="wprt-lines style-2 custom-1">
                                            <div class="line-1"></div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="43" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
    
                            <div class="wprt-project" data-layout="grid" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-gaph="10" data-gapv="10">
                                <div id="project-filter">
                                    <div data-filter="*" class="cbp-filter-item">
                                        <span>All</span>
                                    </div>
                                    <div data-filter=".architecture" class="cbp-filter-item">
                                        <span>Architecture</span>
                                    </div>
                                    <div data-filter=".building" class="cbp-filter-item">
                                        <span>Building</span>
                                    </div>
                                    <div data-filter=".garden" class="cbp-filter-item">
                                        <span>Garden</span>
                                    </div>
                                    <div data-filter=".interior" class="cbp-filter-item">
                                        <span>Interior</span>
                                    </div>
                                    <div data-filter=".office" class="cbp-filter-item">
                                        <span>Office</span>
                                    </div>
                                    <div data-filter=".workspace" class="cbp-filter-item">
                                        <span>Workspace</span>
                                    </div>
                                </div><!-- /#project-filter -->
    
                                <div id="projects" class="cbp">
                                    <div class="cbp-item architecture interior workspace">
                                        <div class="project-item">
                                            <div class="inner">
                                                <div class="grid">
                                                <figure class="effect-sadie">
                                                    <img src="assets/img/projects/1r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
                                                </div>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/1-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item building office workspace">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-honey">
                                                    <img src="assets/img/projects/2r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-2.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/2-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item architecture garden interior">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-oscar">
                                                    <img src="assets/img/projects/3r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-3.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/3-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item building interior workspace">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-zoe">
                                                    <img src="assets/img/projects/4r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-1.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/4-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item garden office workspace">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-oscar">
                                                    <img src="assets/img/projects/5r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-2.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/5-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item architecture garden office">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-zoe">
                                                    <img src="assets/img/projects/6r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-3.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/6-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item building">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-sadie">
                                                    <img src="assets/img/projects/7r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-1.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/7-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
    
                                    <div class="cbp-item garden office workspace">
                                        <div class="project-item">
                                            <div class="inner">
                                                <figure class="effect-honey">
                                                    <img src="assets/img/projects/8r.jpg" alt="image" />
                                                    <figcaption>
                                                        <div>
                                                            <h2><a target="_blank" href="page-project-detail-2.html">LUXURY BUILDINGS</a></h2>
                                                            <p>Construction</p>
                                                        </div>
                                                    </figcaption>           
                                                </figure>
    
                                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/8-full.jpg" data-title="LUXURY BUILDINGS">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/.cbp-item -->
                                </div><!-- /#projects -->
                            </div><!--/.wprt-project -->
    
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="60" data-mobi="40" data-smobi="40"></div>
    
                                        <div class="text-center"><a href="#" class="wprt-button rounded-3px">ALL PROJECTS</a></div>
    
                                        <div class="wprt-spacer" data-desktop="60" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
    
                        <!-- OFFER -->
                        <section id="features" class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                        <h2 class="text-center margin-bottom-10">WHAT WE OFFER</h2>
                                        <div class="wprt-lines style-2 custom-1">
                                            <div class="line-1"></div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->
    
                                    <div class="col-md-4">
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-45">
                                                <span class="dd-icon icon-o-paint-roller"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Prepair Services</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="45" data-mobi="30" data-smobi="30"></div>
    
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-35">
                                                <span class="dd-icon icon-o-electricity"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Electrical Systems</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-4">
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-35">
                                                <span class="dd-icon icon-o-drawing-1"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Architectural Design</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="45" data-mobi="30" data-smobi="30"></div>
    
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-35">
                                                <span class="dd-icon icon-o-roof"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Metal Roofing</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-4">
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-35">
                                                <span class="dd-icon icon-o-tiles"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Green Building</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="45" data-mobi="30" data-smobi="30"></div>
    
                                        <div class="wprt-icon-box outline icon-effect-3 icon-left">
                                            <div class="icon-wrap font-size-35">
                                                <span class="dd-icon icon-o-parquet"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18"><a href="#">Laminate Flooring</a></h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                                <div class="dd-link dark"><a href="#">READ MORE</a></div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->
    
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="50"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
    
                        <!-- Promotion -->
                        <section class="wprt-section promotion">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="wprt-spacer" data-desktop="8" data-mobi="8" data-smobi="8"></div>
                                        <h2 class="text-white text-center-mobile font-size-20 margin-bottom-0">Are you looking for the best construction company in California?</h2>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="20"></div>
                                    </div><!-- /.col-md-8 -->
    
                                    <div class="col-md-4">
                                        <div class="text-right text-center-mobile"><a href="#" class="wprt-button white rounded-3px">CONTACT US NOW</a></div>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="15" data-smobi="15"></div>
                                    </div><!-- /.col-md-4 -->
    
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
    
                        <!-- FACTS -->
                        <section class="wprt-section facts-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="110" data-mobi="80" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                    <div class="col-md-3">
                                        <div class="wprt-counter text-center white-type has-plus">
                                            <div class="number" data-speed="5000" data-to="13691" data-in-viewport="yes">13691</div>
                                            <div class="wprt-lines style-2 custom-1 margin-top-10 margin-bottom-10">
                                                <div class="line-1"></div>
                                            </div>
                                            <div class="text">PROJECT COMPLETED</div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="wprt-counter text-center white-type has-plus">
                                            <div class="number" data-speed="5000" data-to="336" data-in-viewport="yes">336</div>
                                            <div class="wprt-lines style-2 custom-1 margin-top-10 margin-bottom-10">
                                                <div class="line-1"></div>
                                            </div>
                                            <div class="text">AWARDS WON</div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="wprt-counter text-center white-type has-plus">
                                            <div class="number" data-speed="5000" data-to="1725" data-in-viewport="yes">1725</div>
                                            <div class="wprt-lines style-2 custom-1 margin-top-10 margin-bottom-10">
                                                <div class="line-1"></div>
                                            </div>
                                            <div class="text">SATISFIED CLIENTS</div>
                                        </div>
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="wprt-counter text-center white-type has-plus">
                                            <div class="number" data-speed="5000" data-to="984" data-in-viewport="yes">984</div>
                                            <div class="wprt-lines style-2 custom-1 margin-top-10 margin-bottom-10">
                                                <div class="line-1"></div>
                                            </div>
                                            <div class="text">WORKERS EMPLOYED</div>
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="110" data-mobi="80" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
    
                        <!-- TESTIMONIALS -->
                        <section class="wprt-section testiminials">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="50"></div>
                                    </div><!-- /.col-md-12 -->
    
                                    <div class="col-md-6">
                                        <h2>OUR PARTNERS</h2>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>
                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>
    
                                        <div class="wprt-partner-grid has-outline col-3 gutter-10">
                                            <div class="partner-wrap clearfix">
                                                <div class="partner-row clearfix">
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/1.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
    
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/2.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
    
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/3.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
                                                </div>
    
                                                <div class="partner-row clearfix">
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/4.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
    
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/5.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
    
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#"><img src="assets/img/partners/6.png" alt="image" /></a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
                                                </div>
                                            </div><!-- /.partner-wrap -->
                                        </div><!-- /.wprt-partner-grid -->
    
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-6 -->
    
                                    <div class="col-md-6">
                                        <h2>TESTIMONIALS</h2>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>
                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>
    
                                        <div class="wprt-testimonials has-outline arrow-style-2 has-arrows arrow60 arrow-light" data-layout="slider" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-gaph="0" data-gapv="0">
                                            <div id="testimonials-wrap" class="cbp">
                                                <div class="cbp-item">
                                                    <div class="customer clearfix">
                                                        <div class="inner">
                                                            <div class="image"><img src="assets/img/testimonials/1.jpg" alt="image" /></div>
                                                            <h4 class="name">DON PAULSON</h4>
                                                            <div class="position">Architectural Co.</div>
                                                            <blockquote class="whisper">Your efficient planning, scheduling, management, and supervision resulted in timely completion and a quality facility...Particularly refreshing was the spirit of cooperation demonstrated by your firm which served to minimize costly delays and contract modifications.</blockquote>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->
    
                                                <div class="cbp-item">
                                                    <div class="customer clearfix">
                                                        <div class="inner">
                                                            <div class="image"><img src="assets/img/testimonials/2.jpg" alt="image" /></div>
                                                            <h4 class="name">DON PAULSON</h4>
                                                            <div class="position">Architectural Co.</div>
                                                            <blockquote class="whisper">Your efficient planning, scheduling, management, and supervision resulted in timely completion and a quality facility...Particularly refreshing was the spirit of cooperation demonstrated by your firm which served to minimize costly delays and contract modifications.</blockquote>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->
    
                                                <div class="cbp-item">
                                                    <div class="customer clearfix">
                                                        <div class="inner">
                                                            <div class="image"><img src="assets/img/testimonials/3.jpg" alt="image" /></div>
                                                            <h4 class="name">DON PAULSON</h4>
                                                            <div class="position">Architectural Co.</div>
                                                            <blockquote class="whisper">Your efficient planning, scheduling, management, and supervision resulted in timely completion and a quality facility...Particularly refreshing was the spirit of cooperation demonstrated by your firm which served to minimize costly delays and contract modifications.</blockquote>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->
                                            </div><!-- /#service-wrap -->
                                        </div><!-- /.wprt-service -->
                                    </div><!-- /.col-md-6 -->
    
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div><!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>
    